<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Logowanie do Librusa</title>
<link rel=dns-prefetch href="//cdnjs.cloudflare.com">
<link rel=dns-prefetch href="//use.fontawesome.com">
<link rel=stylesheet href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin=anonymous lazyload />
<link rel=stylesheet href="/css/main.css" />
</head>
<body>

<div class=login id=login>
  <h1 id=naglowek>Dodaj konto:</h1>
  <div class=progress style=display:none>
    <p id=progress-text>0%</p>
    <div class=progress-bar id=progress-bar role=progressbar aria-valuenow=0 aria-valuemin=0 aria-valuemax=100 style="width:0%">
  </div>
</div>


<div id="form">
  <input type=hidden name=uid id=uid value="<%- uid %>"/>
  <input type=hidden name=code id=code value="<%- code %>"/>
  <input type=text name=u id=user placeholder="Login (e-mail)" required />
  <input type=password name=p id=pass placeholder="Hasło" required />
  <button type=submit class="btn btn-primary btn-block btn-large startAdd">Zaloguj się</button>
</div> 

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/main.js?v=17"></script>
</body>
</html>
